.add mat-icon {
  vertical-align: middle;
  cursor: pointer;
  font-size: 20px;
}

.add {
	color: #E6142D;
	text-decoration: none;
}

.multiple {
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  	transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  	will-change: box-shadow;
  	border-radius: 2px;	
}

.access-monitoring {
	display: flex;
	flex-direction: row-reverse;
}
.access-monitoring a {
	cursor: pointer;
}