<span [formGroup]="form">

  <span *ngIf="!field.multiple" [ngSwitch]="field.controlType">

    <div *ngSwitchCase="'object'">
      <isari-data-editor
        (onDelete)="remove($event)"
        (onUpdate)="update($event)"
        [deletable]="index !== null"
        [form]="getForm()"
        [layout]="field.layout"></isari-data-editor>
    </div>

    <isari-date *ngSwitchCase="'date'"
      (onUpdate)="update($event)"
      [name]="field.name"
      [label]="field.label"
      [form]="form"></isari-date>

    <isari-select *ngSwitchCase="'select'"
      (onUpdate)="update($event)"
      [src]="field.src"
      [stringValue]="field.stringValue"
      [extensible]="!!field.softenum"
      [name]="field.name"
      [label]="field.label"
      [form]="form"></isari-select>

    <isari-input *ngSwitchDefault
      (onUpdate)="update($event)"
      [name]="field.name"
      [label]="field.label"
      [form]="form"></isari-input>

  </span>

  <span *ngIf="field.multiple && field.type !== 'object'" [ngSwitch]="field.controlType">

    <isari-multi-select *ngSwitchCase="'select'"
      (onUpdate)="update($event)"
      [src]="field.src"
      [stringValue]="field.stringValue"
      [extensible]="!!field.softenum"
      [name]="field.name"
      [label]="field.label"
      [form]="form"></isari-multi-select>

    <isari-multi-input *ngSwitchDefault
      (onUpdate)="update($event)"
      [name]="field.name"
      [label]="field.label"
      [form]="form"></isari-multi-input>
  </span>

  <span *ngIf="field.multiple && field.type === 'object' && form.enabled" [formArrayName]="field.name">
    <isari-field *ngFor="let ctrl of form.controls[field.name].controls;let i = index"
      (onUpdate)="update($event)"
      [index]="i"
      [form]="form"
      [field]="getField(field)"></isari-field>
    <md-card-subtitle>
      <a class="add" href (click)="add($event)" color="warn"><md-icon>add_circle_outline</md-icon> {{ field.label }}</a>
    </md-card-subtitle>
  </span>

</span>
