<button mat-raised-button [matMenuTriggerFor]="menu">{{ 'download_select' | translate }}</button>

<mat-menu #menu="matMenu">

  <a mat-menu-item *ngIf="(feature === 'people')" href="{{ getExportDowloadLink('staff') }}">{{ 'download_staff_export' | translate}}
  </a>
  <a mat-menu-item *ngIf="(feature === 'activities')" href="{{ getExportDowloadLink('grants') }}">{{ 'download_grants_export' | translate}}
  </a>
  <button mat-menu-item (click)="downloadXLSX()">{{ 'download_excel_table' | translate}}</button>
  <button mat-menu-item (click)="downloadCSV()">{{ 'download_csv_table' | translate}}</button>
</mat-menu>