/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

.app-content {
  padding: 20px;
}

.app-content md-card {
  margin: 20px;
}

md-hint.error {
  color: red;
}

[hidden] { display: none !important;}

isari-multi-input, isari-multi-select {
  display: inline-block;
  position: relative;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-align: left;
}

.md-tooltip {
  max-width: 400px;
  height: auto !important;
}

md-toolbar.md-primary {
  background: #fff !important;
  color: #333 !important;
  border-bottom: 1px solid #E6142D;
}

md-toolbar.md-primary h2 {
  font-size: 1.7em;
  margin-left: 1em;
  /* color: #E6142D; */
  padding-top: 6px;
}
