/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #dedede;
  min-height: 100vh;
  position: relative;
}

.app-content {
  padding: 20px 40px 20px 20px;
  margin-bottom: 80px;
}

@media (min-height: 1000px) {
  .app.content {
    margin-bottom: 0px;
  }
}

.app-content mat-card {
  margin: 20px;
}

mat-hint.error {
  color: #E6142D;
}

[hidden] { display: none !important;}

isari-multi-input, isari-multi-select {
  display: inline-block;
  position: relative;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-align: left;
}

.mat-tooltip {
  max-width: 400px;
  height: auto !important;
}

mat-toolbar.mat-primary {
  background: #fff !important;
  color: #333 !important;
  border-bottom: 1px solid #E6142D;
}

mat-toolbar.mat-primary h2 {
  font-size: 1.7em;
  margin-left: 1em;
  /* color: #E6142D; */
  padding-top: 6px;
}

.material-icons {
  color: #E6142D
}

.mat-card-subtitle {
  min-width: 150px;
  height: 24px
}

isari-login .mat-form-field-label.md-focused,
isari-editor .mat-form-field-label.md-focused,
mat-dialog-container .mat-form-field-label.md-focused {
  color: #E6142D;
}
isari-login .mat-form-field-underline .mat-form-field-ripple,
isari-editor .mat-form-field-underline .mat-form-field-ripple,
mat-dialog-container .mat-form-field-underline .mat-form-field-ripple {
  background-color: #E6142D;
}

isari-editor .input .mat-form-field-wrapper { width: 400px; }
isari-editor .input-date .mat-form-field-wrapper { width: 250px; }
isari-editor .input-select .mat-form-field-wrapper { width: 400px; }
isari-log-table .input-select .mat-form-field-wrapper { width: auto; }
mat-dialog-container .input-select .mat-form-field-wrapper { width: 400px; }
isari-editor .input-textarea .mat-form-field-wrapper { width: 600px; }
isari-editor .input-textarea .mat-form-field-wrapper textarea { min-height: 100px; }

isari-editor isari-log-table mat-card {
  border: none;
  box-shadow: none;
  padding: 0;
}

mat-dialog-container {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-dialog-container [mat-raised-button].mat-primary {
  background-color: #E6142D;
}

isari-cols-selector .mat-select-value-text span {
  font-size: 14px;
}

/* for col selector */
.long-select {
  max-height: none !important;
}
.long-select .mat-pseudo-checkbox {
  width: 16px !important;
  height: 16px !important;
}

.mat-sidenav-container {
  background: #dedede;
}

mat-sidenav-content {
  padding-top:50px;
}

/* material tweecking*/
.mat-option.mat-active, .mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
  background: rgba(0, 0, 0, 0.09);
}