/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #FAFAFA;
  min-height: 100vh;
  position: relative;
}

.app-content {
  padding: 20px;
  margin-bottom: 80px;
}

@media (min-height: 1000px) {
  .app.content {
    margin-bottom: 0px;
  }
}

.app-content md-card {
  margin: 20px;
}

md-hint.error {
  color: #E6142D;
}

[hidden] { display: none !important;}

isari-multi-input, isari-multi-select {
  display: inline-block;
  position: relative;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-align: left;
}

.md-tooltip {
  max-width: 400px;
  height: auto !important;
}

md-toolbar.md-primary {
  background: #fff !important;
  color: #333 !important;
  border-bottom: 1px solid #E6142D;
}

md-toolbar.md-primary h2 {
  font-size: 1.7em;
  margin-left: 1em;
  /* color: #E6142D; */
  padding-top: 6px;
}

.material-icons {
  color: #E6142D
}

.md-card-subtitle {
  min-width: 150px;
  height: 24px
}

isari-login .md-input-placeholder.md-focused,
isari-editor .md-input-placeholder.md-focused,
md-dialog-container .md-input-placeholder.md-focused {
  color: #E6142D;
}
isari-login .md-input-underline .md-input-ripple,
isari-editor .md-input-underline .md-input-ripple,
md-dialog-container .md-input-underline .md-input-ripple {
  background-color: #E6142D;
}

isari-editor .input .md-input-wrapper { width: 400px; }
isari-editor .input-date .md-input-wrapper { width: 250px; }
isari-editor .input-select .md-input-wrapper { width: 400px; }
md-dialog-container .input-select .md-input-wrapper { width: 400px; }
isari-editor .input-textarea .md-input-wrapper { width: 600px; }
isari-editor .input-textarea .md-input-wrapper textarea { min-height: 100px; }

md-dialog-container {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

md-dialog-container [md-raised-button].md-primary {
  background-color: #E6142D;
}

.md-select-panel {
  max-height: none !important;
}
