md-card-content {
  /* border-left: 1px solid #ddd; */
  padding-left: 2em;
  margin-bottom: 2em;
}

md-card-subtitle {
  margin-left: -1em;
}

.delete md-icon, .collapse md-icon {
  vertical-align: middle;
  cursor: pointer;
}

md-icon {
	font-size: 20px;
}

.delete {
	color: #E6142D
}

.collapse {
	color: #E6142D
}