<form [class.border]="deletable && form.enabled" novalidate [formGroup]="form" *ngIf="form" (keydown.enter)="$event.preventDefault()">
  <div class="save-n-delete" *ngIf="!path || (deletable && form.enabled)">
    <button [disabled]="differences === 0" matTooltip="{{ differences + ('toSave' | translate)}}" matTooltipPosition="before"
      *ngIf="!path" class="save" mat-button (click)="save($event)">{{ 'save' | translate }}
      <mat-icon>done</mat-icon>
    </button>

    <button [disabled]="differences === 0" matTooltip="{{ differences + ('toSave' | translate)}}" matTooltipPosition="before"
      mat-fab color="primary" (click)="save($event)" style="position:fixed;bottom: 70px;right:10px;z-index:1;">
      <mat-icon style="color:#fff;font-weight:bold;">done</mat-icon>
    </button>


    <a class="delete" href *ngIf="deletable && form.enabled" (click)="delete($event)">
      <mat-icon>delete</mat-icon>
    </a>
  </div>

  <mat-card-content [class.border]="!multiple || group.label" *ngFor="let group of layout" style="display: flex; flex-wrap: wrap;">
    <mat-card-subtitle *ngIf="group.label">
      <div>{{ group.label }}
        <a class="collapse" href *ngIf="group.collapsabled" (click)="collapse($event, group)">
          <mat-icon>{{ group.collapsed ? 'arrow_drop_down_circle' : 'keyboard_arrow_down' }}</mat-icon>
        </a>
      </div>
      <div *ngIf="group.description" [hidden]="group.collapsed" class="tooltip-by-content">
        <div class="tooltip-desc">{{ group.description }}</div>
        <mat-icon>help</mat-icon>
      </div>
    </mat-card-subtitle>

    <table [hidden]="group.collapsed" style="width:100%">
      <tr *ngFor="let row of group.fields">
        <td *ngFor="let field of row" [colSpan]="row.colspan">
          <isari-field (onError)="cumulError($event)" (onUpdate)="update($event)" [form]="form" [field]="field" [feature]="feature"
            [rootFeature]="feature" [lang]="lang" [path]="(path ? path + '.' : '') + field.name"></isari-field>
        </td>
      </tr>
    </table>

  </mat-card-content>

</form>