md-card-content {
  border-left: 1px solid #ddd;
  padding-left: 2em;
  margin-bottom: 2em;
}

md-card-subtitle {
  margin-left: -1em;
}

.delete md-icon {
  vertical-align: middle;
  cursor: pointer;
}
