md-card-content {
  /* border-left: 1px solid #ddd; */
  padding-left: 2em;
  margin-bottom: 2em;
}

md-card-subtitle {
  margin-left: -1em;
}

.delete md-icon, .collapse md-icon {
  vertical-align: middle;
  cursor: pointer;
}

md-icon {
	font-size: 20px;
}

.delete {
	color: #E6142D;
	padding-left: 0;
	padding-top: 27px;
	padding-bottom: auto;
	width: 28px;
	height: 28px
}

.collapse md-icon {
	color: #E6142D;
	transform: rotate(180deg);
}

td {
	width: 30%
}