<div form novalidate [formGroup]="form" *ngIf="form">
  <a class="delete" href *ngIf="deletable && form.enabled" (click)="delete($event)">
    <md-icon>remove_circle_outline</md-icon>
    <span>{{ label }}</span>
  </a>
  <md-card-content *ngFor="let group of layout">
    <md-card-subtitle *ngIf="group.label">
      {{ group.label }}
      <a class="collapse" href *ngIf="group.collapsabled" (click)="collapse($event, group)">
        <md-icon>{{ group.collapsed ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</md-icon>
      </a>
    </md-card-subtitle>
     <table [hidden]="group.collapsed" style="width: 100%;">
        <trs>
          <td *ngFor="let field of group.fields">
            <isari-field
              (onUpdate)="update($event)"
              [form]="form"
              [field]="field"
              [feature]="feature"
              [path]="(path ? path + '.' : '') + field.name"></isari-field>
          </td>
        </tr>
      </table>
  </md-card-content>
</div>
