:host {
  margin-right: 1em;
}

.mat-menu {
    max-width: 50%;
    font-size: 14px;
    background: #fff;
    z-index: 1000000;
    position: absolute;
    padding: 1em;
    right: 3em;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.mat-menu button {
  width: 100%;
}

.mat-menu button span {
  width: 100%;
}

.mat-menu button mat-icon {
  vertical-align: middle;
}

mat-checkbox {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0 1em .2em 0;
  display: inline-block;
}

div > button {
  color: #E6142D;
  text-align: center;
}