.md-menu {
  max-width: 50%;
}

.md-menu button {
  width: 100%;
}

.md-menu button span {
  width: 100%;
}

.md-menu button md-icon {
  vertical-align: middle;
}

md-checkbox {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0 1em .2em 0;
  display: inline-block;
}
