<mat-form-field class="chip-list">
  <mat-chip-list #chipList selectable="true">
    <mat-chip *ngFor="let item of _values" (click)="selectItem(item)" [removable]="!disabled" (removed)="removeValue(item)" [class.lnk]="item.id">
      {{ item.label }}
      <mat-icon matChipRemove *ngIf="!disabled">cancel</mat-icon>
    </mat-chip>

    <input *ngIf="!disabled" [placeholder]="label" #selectInput [formControl]="selectControl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" [displayWith]="displayFn" autoActiveFirstOption>
    <mat-option *ngFor="let item of filteredItems | async" [value]="item">
      {{ item.label }}
    </mat-option>
  </mat-autocomplete>

  <span matSuffix *ngIf="requirement==='recommended' && !_values.length " class="recommended-field ">{{ 'recommended' | translate }}</span>
  <span matSuffix>
    <mat-icon class="tooltip-fields " *ngIf="description" matTooltipPosition="before" [matTooltip]="description ">info_outline</mat-icon>
  </span>
  <span matSuffix>
    <mat-icon class="tooltip-fields " matTooltipPosition="before" [matTooltip]=" 'multiplechoices' | translate ">info_outline</mat-icon>
  </span>
  <span class="accessMonitoring" matSuffix *ngIf="accessMonitoring" (click)="toggleAccess(!open)">
    <mat-icon *ngIf="!open">lock</mat-icon>
    <mat-icon *ngIf="open">lock_open</mat-icon>
  </span>
</mat-form-field>