<p>{{ 'checkExistence.' + feature | translate }}</p>

<mat-form-field>
    <input matInput [formControl]="queryControl" placeholder="Rechercher ...">
</mat-form-field>

<table class="striped bordered">
    <tbody>
        <tr *ngFor="let item of items">
            <td>{{ item.value }}</td>
            <td>
                <a [routerLink]="['/', feature, { outlets: { primary: item.id, editor: null }}]" target="_blank" queryParamsHandling="preserve">
                    <mat-icon>open_in_new</mat-icon>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<p>
    {{ 'no matching' | translate }}
    <a (click)="closeMe()" [disabled]="!minimalSearchDone" mat-raised-button color="primary" [routerLink]="['/', feature , { outlets: { primary: 'new', editor: null } }]"
        queryParamsHandling="preserve" target="_blank">{{ 'Continuer' | translate }}</a>
</p>