<p>
    Merci de vérifier l'existence de ce {{ feature | translate }} avant de continuer.
</p>

<md-input [formControl]="queryControl" placeholder="Rechercher ..."></md-input>

<table class="striped bordered">
    <tbody>
        <tr *ngFor="let item of items">
            <td>{{ item.value }}</td>
            <td>
                <a [routerLink]="['/', feature, { outlets: { primary: item.id, editor: null }}]" target="_blank" preserveQueryParams>
                    <md-icon>open_in_new</md-icon>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<p>
    Aucune correspondance ?
    <a [disabled]="!minimalSearchDone" md-raised-button color="primary" [routerLink]="['/', feature , { outlets: { primary: 'new', editor: null } }]" preserveQueryParams target="_blank">{{ 'Continuer' | translate }}</a>
</p>