<ul>
  <li>
    <button md-button [md-menu-trigger-for]="menu">
      {{ itemsPerPage }} items / page
    </button>
  </li>
  <li><a md-button (click)="navigate(1)"><md-icon>first_page</md-icon></a>
  <li><a md-button (click)="navigatePrev()"><md-icon>navigate_before</md-icon></a>
  <li *ngFor="let page of pages">
    <a md-button *ngIf="!page.active" (click)="navigate(page.number)">{{ page.text }}</a>
    <a md-raised-button color="primary" *ngIf="page.active" (click)="navigate(page.number)">{{ page.text }}</a>
  </li>
  <li><a md-button (click)="navigateNext()"><md-icon>navigate_next</md-icon></a>
  <li><a md-button (click)="navigate(totalPages)"><md-icon>last_page</md-icon></a>
</ul>

<md-menu #menu="mdMenu">
  <a *ngFor="let item of selectItemsPerPage" md-menu-item (click)="setItemsPerPage(item)">{{ item }}</a>
</md-menu>
