:host {
  display: flex;
  flex-direction: row-reverse;
}

ul  {
  vertical-align: middle;
}

ul li * {
  line-height: 36px;
  vertical-align: middle;
  display: inline-block;
}

ul li {
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  height: 36px;
}

ul li a {
  min-width: 0;
  vertical-align: top;
}

ul, li, a, mat-icon, button {
  font-size: 16px;
  line-height: 36px;
  vertical-align:top;
  height: 36px;
}

mat-icon {
  font-size: 160%;
  cursor: pointer;
}

button, a {
  text-decoration: underline;
  cursor: pointer;
}

li > a {
  cursor: pointer;
}

[mat-raised-button].mat-primary, [md-fab].mat-primary, [md-mini-fab].mat-primary {
  background-color: #E6142D;
}