<ul>
  <li>
    {{ totalItems }} {{ 'lines' | translate }}
  </li>
  <li>
    <button mat-button [matMenuTriggerFor]="menu">
      {{ 'items_per_page' | translate:{ value: itemsPerPage} }}
    </button>
  </li>
  <li>
    <a mat-button (click)="navigate(1)">
      <mat-icon>first_page</mat-icon>
    </a>
    <li>
      <a mat-button (click)="navigatePrev()">
        <mat-icon>navigate_before</mat-icon>
      </a>
      <li *ngFor="let page of pages">
        <a mat-button *ngIf="!page.active" (click)="navigate(page.number)">{{ page.text }}</a>
        <a mat-raised-button color="primary" *ngIf="page.active" (click)="navigate(page.number)">{{ page.text }}</a>
      </li>
      <li>
        <a mat-button (click)="navigateNext()">
          <mat-icon>navigate_next</mat-icon>
        </a>
        <li>
          <a mat-button (click)="navigate(totalPages)">
            <mat-icon>last_page</mat-icon>
          </a>
</ul>

<mat-menu #menu="matMenu" yPosition="above">
  <a *ngFor="let item of selectItemsPerPage" mat-menu-item (click)="setItemsPerPage(item)">{{ item }}</a>
</mat-menu>