<span [formGroup]="form" class="input-date isari-input-wrapper" (blur)="onBlur($event)" [matTooltip]="description">
  <input type="hidden" [formControlName]="name">

  <mat-form-field>
    <mat-label>{{ label }}</mat-label>
    <input matInput (focus)="onFocus($event)" [formControl]="selectControl" *ngIf="!focused">
    <input matInput (keydown.enter)="update($event)" focusMe (blur)="onBlur($event)" [formControl]="selectIsoControl" [textMask]="{mask: mask, pipe: pipe}"
      *ngIf="focused">
    <mat-hint *ngIf="!form.controls[name].valid && !form.controls[name].disabled && form.controls[name].errors.required" align="start"
      class="error">{{ 'mandatory' | translate }}</mat-hint>

    <span matSuffix *ngIf="requirement==='recommended'">
      <mat-icon class="tooltip-fields " matTooltipPosition="before" matTooltip="{{ 'recommended' | translate }}">warning</mat-icon>
    </span>

  </mat-form-field>

  <div class="mat-menu" [hidden]="!focused">
    <span class="date-header" mat-menu-item disabled>
      <button tabindex="-1" mat-button (mousedown)="display('days')">{{ day || ('day' | translate) }}</button>
      <div class="remove-content" tabindex="-1" (mousedown)="setDay(null, $event)" mat-button>
        <mat-icon>clear</mat-icon>
      </div>
      <button tabindex="-1" mat-button (mousedown)="display('months')">{{ months[lang][month - 1] || ('month' | translate) }}</button>
      <div class="remove-content" tabindex="-1" (mousedown)="setMonth(null, $event)" mat-button>
        <mat-icon>clear</mat-icon>
      </div>
      <button tabindex="-1" mat-button (mousedown)="display('years')">{{ year || ('year' | translate) }}</button>
      <div class="remove-content" tabindex="-1" (mousedown)="deleteDate(year, $event)" mat-button>
        <mat-icon>clear</mat-icon>
      </div>
    </span>

    <div *ngIf="displayed === 'days'" class="calendar">
      <button tabindex="-1" *ngFor="let d of days" (mousedown)="setDay(d, $event)" mat-icon-button>{{ d }}</button>
    </div>

    <div *ngIf="displayed === 'months'" class="calendar-months">
      <button tabindex="-1" *ngFor="let m of months[lang]; let i = index" (mousedown)="setMonth(i+1, $event)" mat-button>{{ m }}</button>
    </div>

    <div *ngIf="displayed === 'years'" class="calendar-years">
      <button tabindex="-1" (mousedown)="navigateYears(years[0]-8, $event)" mat-button>
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button tabindex="-1" *ngFor="let y of years" (mousedown)="setYear(y, $event)" mat-button color="">{{ y }}</button>
      <button tabindex="-1" (mousedown)="navigateYears(years[years.length - 1]+6, $event)" mat-button>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>

    <div class="validate">

      <button tabindex="-1" (mousedown)="undoDate($event)" mat-menu-item>
        <mat-icon color="primary">undo</mat-icon>
      </button>

      <button tabindex="-1" (mousedown)="update($event)" mat-menu-item>
        <mat-icon color="primary">done</mat-icon>
      </button>
    </div>

  </div>


</span>