<span [formGroup]="form" class="isari-input-wrapper" (blur)="onBlur($event)" [md-tooltip]="description" style="width:100%;">
  <input type="hidden" [formControlName]="name">

  <div class="md-input-wrapper">
    <div class="md-input-table">
      <div class="md-input-prefix"></div>
      <div class="md-input-infix">
        <input class="md-input-element"
          (focus)="onFocus($event)"
          (blur)="onBlur($event)"
          [formControl]="selectControl">
        <label class="md-input-placeholder md-float" [ngClass]="{ 'md-empty': !selectControl.value, 'md-focused': focused }">
          {{ label }}
        </label>
      </div>
      <div class="md-input-suffix">
        <div *ngIf="requirement === 'recommended'" class="recommended-field">{{ 'recommended' | translate }}</div>
        <md-icon *ngIf="description" class="tooltip-fields" [md-tooltip]="description">info_outline</md-icon>
      </div>
    </div>
    <div class="md-input-underline" [ngClass]="{ 'md-disabled': selectControl?.disabled }">
      <span class="md-input-ripple" [ngClass]="{ 'md-focused': focused }"></span>
    </div>
    <md-hint *ngIf="!form.controls[name].valid && !form.controls[name].disabled && form.controls[name].errors.required" align="start" class="error">{{ 'mandatory' | translate }}</md-hint>
  </div>

  <div class="md-menu" [hidden]="!focused">
    <span md-menu-item disabled>
      <button tabindex="-1" md-button (mousedown)="display('days')">{{ day || ('day' | translate) }}</button>
      <button tabindex="-1" md-button (mousedown)="display('months')">{{ months[lang][month - 1] || ('month' | translate) }}</button>
      <button tabindex="-1" md-button (mousedown)="display('years')">{{ year || ('year' | translate) }}</button>
    </span>

    <div *ngIf="displayed === 'days'" class="calendar">
      <button tabindex="-1" (mousedown)="setDay(null, $event)" md-icon-button><md-icon>clear</md-icon></button>
      <button tabindex="-1"  *ngFor="let d of days" (mousedown)="setDay(d, $event)" md-icon-button>{{ d }}</button>
    </div>

    <div *ngIf="displayed === 'months'" class="calendar-months">
      <button tabindex="-1" (mousedown)="setMonth(null, $event)" md-button><md-icon>clear</md-icon></button>
      <button tabindex="-1" *ngFor="let m of months[lang]; let i = index" (mousedown)="setMonth(i+1, $event)" md-button>{{ m }}</button>
    </div>

    <div *ngIf="displayed === 'years'" class="calendar-years">
      <button tabindex="-1" (mousedown)="navigateYears(years[0]-10, $event)" md-button><md-icon>keyboard_arrow_left</md-icon></button>
        <button tabindex="-1" *ngFor="let y of years" (mousedown)="setYear(y, $event)" md-button color="">{{ y }}</button>
      <button tabindex="-1" (mousedown)="navigateYears(years[years.length - 1]+6, $event)" md-button><md-icon>keyboard_arrow_right</md-icon></button>
    </div>

    <div class="validate-cancel">
      <button tabindex="-1" (mousedown)="deleteDate(y, $event)" md-menu-item>
        <md-icon color="primary">clear</md-icon>
      </button>

      <button tabindex="-1" (mousedown)="update($event)" md-menu-item>
        <md-icon color="primary">done</md-icon>
      </button>
    </div>

  </div>


</span>
