.app-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
}

mat-card {
	width: 300px;
	padding-bottom: 20px;
	padding-top: 20px;
	display: inline-block;
}

.orga-name {
	text-align: center;
	vertical-align: middle;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.mat-card-all {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Following instructions works for Chrome only */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.mat-card-all {
		height: 175px
	}
}