<isari-header [globalOrganization]="globalOrganization"></isari-header>

<div class="app-content">

	<mat-card *ngFor="let organization of organizations">
		<div class="mat-card-all">
			<div class="orga-name">
				<h4>{{ organization.name }}</h4>
				<h5 *ngIf="organization.acronym">({{ organization.acronym }})</h5>
			</div>
			<div class="buttons">
				<button mat-raised-button [routerLink]="[ 'people' ]" [queryParams]="{ organization: organization.id }">{{ 'people' | translate }}</button>
				<button mat-raised-button [routerLink]="[ 'activities' ]" [queryParams]="{ organization: organization.id }">{{ 'activities' | translate }}</button>
			</div>
		</div>


	</mat-card>

</div>