footer {
	bottom: 0px;
	background: white;
	justify-content: space-around;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 60px;
	padding: 20px;
	display: flex;
	position: absolute;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
	will-change: box-shadow;
	border-radius: 2px;
	vertical-align: middle;
}

footer:hover {
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.cgu_access {
	text-align: center;
	vertical-align: middle;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.link_footer:hover {;
	text-decoration: none;
	color: #E6142D
}

.link_footer:active, .link_footer:focus {
	text-decoration: none;
	color: #2C2C2C
}

.document_button {
	width: 70px;
}

.any_question {
	width: 50%;
	text-align: center;
	vertical-align: middle;
}

.link_footer {
	font-style: bold;
	text-decoration: none;
	color: black
}
