<md-sidenav-layout>

  <md-toolbar color="primary">

    <img src="http://www.sciencespo.fr/sites/all/themes/SPresponsive/images/ScPo-logo-rouge-400.png" style="max-height:50%;">
    <h2>Isari</h2>

    <span class="app-toolbar-filler"></span>

    <button md-button [md-menu-trigger-for]="menu">{{ 'menu' | translate }}</button>

    <md-menu x-position="before" #menu="mdMenu">
      <a md-menu-item routerLink="/people">{{ 'people' | translate }}</a>
      <a md-menu-item routerLink="/organizations">{{ 'organizations' | translate }}</a>
      <a md-menu-item href (click)="logout($event)">{{ 'logout' | translate }}</a>
      <a md-menu-item href *ngIf="lang !== 'fr'" (click)="setLang('fr', $event)">{{ 'french' | translate }}</a>
      <a md-menu-item href *ngIf="lang !== 'en'" (click)="setLang('en', $event)">{{ 'english' | translate }}</a>
    </md-menu>
  </md-toolbar>

  <div class="app-content">

      <router-outlet></router-outlet>

  </div>

</md-sidenav-layout>

