footer {
	bottom: 10px;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
	will-change: box-shadow;
	display: block;
	position: relative;
	padding: 24px;
	border-radius: 2px;
	height:200px;
	background: white;
	width:94.8%;
	margin-left: 2.6%;
	position: absolute;
}