<isari-header></isari-header>

<div class="app-content">

    <md-card>
        <md-toolbar>
          <span>{{ 'history' | translate }} : {{ feature | translate }}</span>
          &nbsp;
        </md-toolbar>

        <isari-log-table *ngIf="logs$ | async as logs else loading"
          [feature]="feature"
          [logs]="logs"
          [labs]="labs$ | async"
          [options]="options"
          (onOptionsChange)="changeOpt($event)"></isari-log-table>

        <ng-template #loading>
          <isari-spinner></isari-spinner>
        </ng-template>

    </md-card>

</div>
