<div *ngIf="!loading">
<table class="striped bordered">
  <thead>
    <tr>
      <isari-col *ngFor="let col of cols"
        (onSort)="sortBy(col)"
        [sorted]="sortedState.key === col.key ? sortedState.reverse : null">
        <md-input type="text" [formControl]="col.filterControl" [placeholder]="col.label[lang]"></md-input>
      </isari-col>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of page" [routerLink]="[{outlets: {editor: row['id']} }]" (click)="edit(row.id)" [class.active]="row['id'] === editedId">
      <td *ngFor="let col of cols">{{ row[col.key] || '' }}</td>
    </tr>
  </tbody>
</table>

<isari-pagination
  [totalItems]="data.length"
  [itemsPerPage]="itemsPerPage"
  [currentPage]="1"
  (onPageChange)="pageChanged($event)"></isari-pagination>

</div>
<isari-spinner *ngIf="loading"></isari-spinner>
