<span class="input" [formGroup]="form" [matTooltip]="description">
  <mat-form-field>
    <input matInput [placeholder]="label" (change)="hasChange = true" (blur)="update($event)" [type]="type" [min]="min || null"
      [max]="max || null" [step]="step || null" [formControlName]="name">
    <mat-hint *ngIf="!form.controls[name].valid && !form.controls[name].disabled && form.controls[name].errors.required" align="start"
      class="error">{{ 'mandatory' | translate }}</mat-hint>

    <span class="accessMonitoring" matSuffix *ngIf="accessMonitoring" (click)="toggleAccess(!open)">
      <mat-icon *ngIf="!open">lock</mat-icon>
      <mat-icon *ngIf="open">lock_open</mat-icon>
    </span>
  </mat-form-field>
</span>