isari-select {
  position: relative;
}

.isari-input-wrapper {
  display: inline-block;
  position: relative;
}

.md-menu {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 100000;
}

.md-menu button.active:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: inherit;
  pointer-events: none;
}
