<mat-form-field [formGroup]="form" class="autocomplete">
  <input type="hidden" [formControlName]="name">


  <input type="text" matInput [placeholder]="label" #selectInput [formControl]="selectControl" [matAutocomplete]="auto">

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" [displayWith]="displayFn" autoActiveFirstOption>
    <mat-option *ngFor="let item of filteredItems | async" [value]="item">
      {{ item.label }}
    </mat-option>
  </mat-autocomplete>

  <span matSuffix *ngIf="id">
    <a routerLink="/{{ api }}/{{ id }}" target="_blank" queryParamsHandling="preserve">
      <mat-icon>open_in_new</mat-icon>
    </a>
  </span>
  <span matSuffix *ngIf="requirement==='recommended'">
    <mat-icon class="tooltip-fields " matTooltipPosition="before" matTooltip="{{ 'recommended' | translate }}">warning</mat-icon>
  </span>
  <span matSuffix *ngIf="description">
    <mat-icon class="tooltip-fields " matTooltipPosition="before" [matTooltip]="description">info_outline</mat-icon>
  </span>
  <span class="accessMonitoring" matSuffix *ngIf="accessMonitoring" (click)="toggleAccess(!open)">
    <mat-icon *ngIf="!open">lock</mat-icon>
    <mat-icon *ngIf="open">lock_open</mat-icon>
  </span>
</mat-form-field>