<span [formGroup]="form" [ngClass]="{ error: !form.controls[name]?.valid }" (keyup)="onKey($event)" class="isari-input-wrapper">
  <input type="hidden" [formControlName]="name">

  <div style="display: inline-block;text-align: left;">
    <div class="md-input-wrapper">
      <div class="md-input-table">
        <div class="md-input-prefix"></div>
        <div class="md-input-infix">
          <input class="md-input-element"
            (focus)="onFocus($event)"
            (blur)="onBlur($event)"
            [formControl]="selectControl">
          <label class="md-input-placeholder md-float" [ngClass]="{ 'md-empty': !selectControl?.value, 'md-focused': focused }">
            {{ name }}
          </label>
        </div>
        <div class="md-input-suffix"></div>
      </div>
      <div class="md-input-underline" [ngClass]="{ 'md-disabled': selectControl?.disabled }">
        <span class="md-input-ripple" [ngClass]="{ 'md-focused': focused }"></span>
      </div>
    </div>
  </div>

  <div class="md-menu" [hidden]="!focused">
    <button [ngClass]="{active: currentIndex === i}" *ngFor="let entry of values;let i = index"  md-button style="width:100%;display:flex;" (mousedown)="onSelect(i)">{{ entry.label.fr }}</button>
  </div>

</span>
