<mat-form-field [formGroup]="form" class="autocomplete">
  <input type="hidden" [formControlName]="name">

  <input type="text" matInput [placeholder]="label" #selectInput [formControl]="selectControl" [matAutocomplete]="auto">

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" [displayWith]="displayFn" autoActiveFirstOption>
    <mat-option *ngFor="let item of filteredItems | async" [value]="item">
      {{ item.label }}
    </mat-option>
  </mat-autocomplete>

  <span matSuffix *ngIf="requirement==='recommended'" class="recommended-field ">{{ 'recommended' | translate }}</span>
  <span matSuffix>
    <mat-icon class="tooltip-fields " *ngIf="description" matTooltipPosition="before" [matTooltip]="description ">info_outline</mat-icon>
  </span>
  <span matSuffix>
    <mat-icon class="tooltip-fields " matTooltipPosition="before" [matTooltip]=" 'multiplechoices' | translate ">info_outline</mat-icon>
  </span>

</mat-form-field>