<isari-header></isari-header>

<div class="app-content">

  <form novalidate (submit)="onSubmit(loginForm)" [formGroup]="loginForm">
    <md-input type="text" placeholder="{{ 'username' | translate }}" formControlName="login"></md-input>
    <md-input type="password" placeholder="{{ 'password' | translate }}" formControlName="password"></md-input>
    <button type="submit" md-button>{{ 'btn_login' | translate }}</button>
  </form>

  <h3 *ngIf="errorMessage" class="error">
    {{ errorMessage | translate }}
  </h3>

</div>
