.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-toolbar-flag {
  height: 25px;
}

h5 {
	margin-left: 10px;
}

button {
	font-size: 16px;
	text-align: center;
	line-height: 48px;
	min-width: 45px;
}

div {
	display: flex;
	flex-direction: row;
}

md-icon {
	text-align: center;
	width: 48px;
	height: 48px;
	line-height: 48px;
	margin-left: 0;
}

[md-menu-item] md-icon {
	margin-right: 0;
}