  <md-toolbar color="primary">

    <a routerLink="/">
      <img src="http://www.sciencespo.fr/sites/all/themes/SPresponsive/images/ScPo-logo-rouge-400.png" style="height:32px;">
    </a>
    <h2>ISARI</h2>

    <span class="app-toolbar-filler"></span>

    <h5>{{ organization?.name }}</h5>

<!--     <button *ngIf="logged && organization" md-raised-button [routerLink]="[ 'people' ]" [queryParams]="{ organization: organization.id }">
      {{ 'resume' | translate }}
    </button>
 -->

    <div *ngIf="logged">
        <button *ngIf="organization" md-menu-item routerLink="/people" preserveQueryParams><md-icon>people</md-icon></button>
        <button *ngIf="logged" md-menu-item routerLink="/organizations" preserveQueryParams><md-icon>business</md-icon></button>
        <button *ngIf="organization" md-menu-item routerLink="/activities" preserveQueryParams><md-icon>business_center</md-icon></button>
    </div>

    <div *ngIf="logged">
      <button md-button [md-menu-trigger-for]="menu">Account</button>

      <md-menu x-position="before" #menu="mdMenu">
        <a md-menu-item (click)="logout($event)">{{ 'logout' | translate }}</a>
      </md-menu>

    </div>

    <button md-button [md-menu-trigger-for]="langMenu"><img class="app-toolbar-flag" src="./assets/svg/{{ lang }}-flag.svg" /></button>

    <md-menu x-position="before" #langMenu="mdMenu">
      <a md-menu-item href (click)="setLang('fr', $event)"><img class="app-toolbar-flag" src="./assets/svg/fr-flag.svg" /></a>
      <a md-menu-item href (click)="setLang('en', $event)"><img class="app-toolbar-flag" src="./assets/svg/en-flag.svg" /></a>
    </md-menu>

  </md-toolbar>
