table {
  width: 100%;
  display: table;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table tbody tr {
  cursor: pointer;
}

table.bordered > thead > tr,
table.bordered > tbody > tr {
  border-bottom: 1px solid #d0d0d0;
}

table.striped > tbody > tr:nth-child(odd) {
  background-color: #f2f2f2;
}

table.striped > tbody > tr:hover {
  background-color: #ddd;
}

table.striped > tbody > tr > td {
  border-radius: 0;
  vertical-align: top;
}

table.striped > tbody > tr > td > p {
  margin: 0;
}

table.striped > tbody > tr.active {
  background-color: #b0bec5;
  color: #fff;
}

table.centered thead tr th, table.centered tbody tr td {
  text-align: center;
}

thead {
  border-bottom: 1px solid #d0d0d0;
}

td, th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
  max-width: 400px;
}

.pagination {
  display: flex;
  flex-direction: row-reverse;
}

.pagination ul  {
  vertical-align: middle;
}

.pagination ul li * {
  line-height: 36px;
  vertical-align: middle;
  display: inline-block;
}

.pagination ul li {
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  height: 36px;
}

.pagination ul li a {
  min-width: 0;
  vertical-align: top;
}

.pagination ul, li, a, md-icon, button {
  font-size: 16px;
  line-height: 36px;
  vertical-align:top;
  height: 36px;
}

.pagination md-icon {
  font-size: 160%;
  cursor: pointer;
}

.pagination button, a {
  text-decoration: underline;
  cursor: pointer;
}

.pagination li > a {
  cursor: pointer;
}

[md-raised-button].md-primary, [md-fab].md-primary, [md-mini-fab].md-primary {
  background-color: #E6142D;
}
