table {
  width: 100%;
  display: table;
  margin-top: 1em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table.bordered > thead > tr,
table.bordered > tbody > tr {
  border-bottom: 1px solid #d0d0d0;
}

table.striped > tbody > tr.odd {
  background-color: #f2f2f2;
}

table.striped > tbody > tr:hover {
  background-color: #ddd;
}

table.striped > tbody > tr > td {
  border-radius: 0;
  vertical-align: top;
}

table.striped > tbody > tr > td p {
  margin: 0 0 0 24px;
}

table.striped > tbody > tr.active {
  background-color: #b0bec5;
  color: #fff;
}

table.centered thead tr th, table.centered tbody tr td {
  text-align: center;
}

thead {
  border-bottom: 1px solid #d0d0d0;
}

td, th {
  padding: 10px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
  max-width: 400px;
}

.pagination {
  display: flex;
  flex-direction: row-reverse;
}

.pagination ul  {
  vertical-align: middle;
}

.pagination ul li * {
  line-height: 36px;
  vertical-align: middle;
  display: inline-block;
}

.pagination ul li {
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  height: 36px;
}

.pagination ul li a {
  min-width: 0;
  vertical-align: top;
}

.pagination ul li a, md-icon, button {
  font-size: 16px;
  line-height: 36px;
  vertical-align:top;
  height: 36px;
}

.pagination md-icon {
  font-size: 160%;
  cursor: pointer;
}

.pagination button, a {
  text-decoration: underline;
  cursor: pointer;
}

.pagination li > a {
  cursor: pointer;
}

[md-raised-button].md-primary, [md-fab].md-primary, [md-mini-fab].md-primary {
  background-color: #E6142D;
}

isari-date {
  margin-left: 20px;
  font-size: .7em;
}
md-checkbox {
  font-size: .7em;
  margin-left: 20px;
}

table.bordered > tbody > tr.open1 {
  border-bottom: 1px dashed #d0d0d0;
}
table.bordered > tbody > tr.open2 {
  border-bottom: none;
  border-top: 1px dashed #d0d0d0;
}
table.bordered > tbody > tr.open2.last {
  border-bottom: 1px solid #d0d0d0;
}



table.bordered > tbody > tr.open2 {
  font-size: .9em;
}
table.bordered > tbody > tr.open2 td {
  padding: 5px;
}
table.bordered > tbody > tr.open2 pre {
  overflow:hidden;
  margin: 0;
}

table.bordered > tbody > tr > td.bleft {
  border-left: 1px solid #d0d0d0;
}

td.labels {
  cursor: pointer;
}

td.labels .material-icons {
  float: left;
  height: 24px;
  vertical-align: top;
  line-height: 24px;
}

.filer {
  flex: 1 1 auto;
}
