<!-- <md-card>
  <isari-chart [feature]="feature" [data]="filteredData"></isari-chart>
</md-card> -->
<md-card>
  <md-toolbar [color]="primary">

    <span>{{ feature | translate }}</span>
    &nbsp;

    <button *ngIf="feature === 'people'" md-raised-button [md-menu-trigger-for]="menu">{{ (externals ? 'others' : 'members') | translate }}</button>
    <md-menu #menu="mdMenu">
      <a md-menu-item [routerLink]="['/', feature]" preserveQueryParams>{{ 'members' | translate }}</a>
      <a md-menu-item [routerLink]="[{ externals: true }]" preserveQueryParams>{{ 'others' | translate }}</a>
    </md-menu>

    <isari-date
      *ngIf="feature === 'people'"
      (onUpdate)="startDateUpdated($event)"
      [form]="dateForm"
      [name]="'startDate'"
      [label]="translate.instant('startDate')"
      [requirement]="false"
      [form]="null"></isari-date>

    <isari-date
      *ngIf="feature === 'people'"
      (onUpdate)="endDateUpdated($event)"
      [form]="dateForm"
      [name]="'endDate'"
      [label]="translate.instant('endDate')"
      [requirement]="false"
      [form]="null"></isari-date>

    <span class="filer"></span>

    <isari-download-button [feature]="feature" [data]="filteredData" [selectedColumns]="selectedColumns"></isari-download-button>
    <isari-cols-selector [cols]="cols" [selectedColumns]="selectedColumns" (onColSeleted)="colSelected($event)"></isari-cols-selector>
    <button md-raised-button [disableRipple]="true">
      <a class="create-link" [routerLink]="['/', feature , { outlets: { primary: 'new', editor: null } }]" preserveQueryParams target="_blank">{{ ('btn_add_' + feature) | translate }}</a>
    </button>

  </md-toolbar>

  <isari-spinner *ngIf="loading"></isari-spinner>

  <isari-data-table *ngIf="!loading" (onFilter)="filtered($event)" [data]="data" [cols]="selectedColumns" [editedId]="editedId"></isari-data-table>
</md-card>

<router-outlet name="editor"></router-outlet>

